ComputerVisionLessons/.vs/ComputerVisionLessons/v15/Browse.VC.db
ComputerVisionLessons/.vs/ComputerVisionLessons/v15/Browse.VC.opendb
ComputerVisionLessons/.vs/ComputerVisionLessons/v15/ipch/AutoPCH/89925305ced77054/BLOBDETECTIONAVANS.ipch
ComputerVisionLessons/.vs/ComputerVisionLessons/v15/ipch/AutoPCH/d111dc9863f286d6/MAINDEMOBLOBLABELING.ipch
ComputerVisionLessons/Debug/vc141.idb
ComputerVisionLessons/Debug/Computer.146322B5.tlog/CL.command.1.tlog
ComputerVisionLessons/Debug/Computer.146322B5.tlog/ComputerVisionLessons.lastbuildstate
ComputerVisionLessons/Debug/Computer.146322B5.tlog/unsuccessfulbuild
ComputerVisionLessons/x64/Debug/vc141.idb
ComputerVisionLessons/x64/Debug/Computer.146322B5.tlog/link.write.1.tlog
ComputerVisionLessons/x64/Debug/Computer.146322B5.tlog/link.read.1.tlog
ComputerVisionLessons/x64/Debug/Computer.146322B5.tlog/link.command.1.tlog
ComputerVisionLessons/x64/Debug/Computer.146322B5.tlog/ComputerVisionLessons.lastbuildstate
ComputerVisionLessons/x64/Debug/Computer.146322B5.tlog/CL.write.1.tlog
ComputerVisionLessons/x64/Debug/Computer.146322B5.tlog/CL.read.1.tlog
ComputerVisionLessons/x64/Debug/Computer.146322B5.tlog/CL.command.1.tlog
